*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*tema 1(Padraozin) */
    --theme1-bg: hsl(222, 26%, 31%);
    --theme1-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224, 36%, 15%);
    --theme1-key-bg: hsl(30, 25%, 89%);
    --theme1-key-shadow: hsl(28, 16%, 65%);
    --theme1-action-bg: hsl(225, 21%, 49%);
    --theme1-action-shadow: hsl(224, 28%, 35%);
    --theme1-equals-bg: hsl(6, 63%, 50%);
    --theme1-equals-shadow: hsl(6, 70%, 34%);
    --theme1-text: hsl(0, 0%, 100%);
    --theme1-key-text: hsl(221, 14%, 31%);

    /*tema 2(Padraozin) */
    --theme2-bg: url(/Exercicio-05/assets/img/Jujutsu-Kaisen-Gojo.jpg);
    --theme2-keypad-bg: hsl(271, 100%, 23%);
    --theme2-screen-bg: hsl(278, 100%, 50%);
    --theme2-key-bg: hsl(30, 25%, 89%);
    --theme2-key-shadow: hsl(28, 16%, 65%);
    --theme2-action-bg: hsl(225, 21%, 49%);
    --theme2-action-shadow: hsl(224, 28%, 35%);
    --theme2-equals-bg: hsl(6, 63%, 50%);
    --theme2-equals-shadow: hsl(6, 70%, 34%);
    --theme2-text: hsl(0, 0%, 100%);
    --theme2-key-text: hsl(221, 14%, 31%);

    /*tema 3(Padraozin) */
    --theme3-bg: hsl(222, 26%, 31%);
    --theme3-keypad-bg: hsl(223, 31%, 20%);
    --theme3-screen-bg: hsl(224, 36%, 15%);
    --theme3-key-bg: hsl(30, 25%, 89%);
    --theme3-key-shadow: hsl(28, 16%, 65%);
    --theme3-action-bg: hsl(225, 21%, 49%);
    --theme3-action-shadow: hsl(224, 28%, 35%);
    --theme3-equals-bg: hsl(6, 63%, 50%);
    --theme3-equals-shadow: hsl(6, 70%, 34%);
    --theme3-text: hsl(0, 0%, 100%);
    --theme3-key-text: hsl(221, 14%, 31%);
}
.header{
    display: flex;
    width: 415px;
    justify-content: space-between;
}
.theme-switcher{
    display: flex;
}
span{
    align-self: flex-end;
    margin: 5px;
}
body{
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0,3s ease;
}
.result{
    margin-right: 10px;
    font-size: 40px;
    font-weight: bold;
}
.theme-toggle{
    display: flex;
    align-self: flex-end;
    margin: 5px;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    align-items: center;
}
.toggle-ball{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: 2px;
}
.display{
    display: flex;
    height: 100px;
    width: 415px;

    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: end;
    align-items: center;
}

.keypad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 420px;
    border-radius: 10px;
    padding: 5px;
}
.key{
    margin: 5px;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.span-2{
    width: 195px;
} 


body.theme-1{
    background-color: var(--theme1-bg);
    color: var(--theme1-text);
}
body.theme-1 .key{
    box-shadow: inset 0px -5px var(--theme1-key-shadow);
}
body.theme-1 .display{
    background-color: var(--theme1-keypad-bg);
}
body.theme-1 .keypad{
    background-color: var(--theme1-keypad-bg);
}
body.theme-1 .theme-toggle {
    background-color: var(--theme1-keypad-bg);
}
body.theme-1 .toggle-ball{
    background-color: var(--theme1-equals-bg);
}
body.theme-1 .span-2{
    background-color: var(--theme1-action-bg);
    color: var(--theme1-text);
}
body.theme-1 .action{
    background-color: var(--theme1-action-bg);
    color: var(--theme1-text);
    box-shadow: inset 0px -5px var(--theme1-action-shadow);
}
body.theme-1 .equals{
    background-color: var(--theme1-equals-bg);
    color: var(--theme1-text);
    box-shadow: inset 0px -5px var(--theme1-equals-shadow);
}
body.theme-1 .key:hover{
    background-color: var(--theme1-key-shadow);
}
body.theme-1 .action:hover{
    background-color: var(--theme1-action-shadow);
}
body.theme-1 .equals:hover{
    background-color: var(--theme1-equals-shadow);
}


body.theme-2{
    background-image: var(--theme2-bg);
    color: var(--theme2-text);
}
body.theme-2 .theme-toggle {
    background-color: var(--theme2-keypad-bg);
    justify-content: center;
}
body.theme-2 .toggle-ball{
    background-color: var(--theme2-equals-bg);
}
body.theme-2.key{
    box-shadow: inset 0px -5px var(--theme2-key-shadow);
}
body.theme-2 .display{
    background-color: var(--theme2-keypad-bg);
}
body.theme-2 .keypad{
    background-color: var(--theme2-keypad-bg);
}
body.theme-2 .span-2{
    background-color: var(--theme2-action-bg);
    color: var(--theme2-text);
}
body.theme-2 .action{
    background-color: var(--theme2-action-bg);
    color: var(--theme2-text);
    box-shadow: inset 0px -5px var(--theme2-action-shadow);
}
body.theme-2 .equals{
    background-color: var(--theme2-equals-bg);
    color: var(--theme2-text);
    box-shadow: inset 0px -5px var(--theme1-equals-shadow);
}
body.theme-2 .key:hover{
    background-color: var(--theme2-key-shadow);
}
body.theme-2 .action:hover{
    background-color: var(--theme2-action-shadow);
}
body.theme-2 .equals:hover{
    background-color: var(--theme2-equals-shadow);
}